.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        &--title {

        }
    }
    &__list {
        display: flex;
        list-style-type: none;
        
        &--item-one {

        }
        &--item-two{

        }
    }
}