.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 100;
    background-color: #3e8079;
    &__logo {
        text-decoration: none;
        padding: 2rem;
        &--title {
            text-decoration: none;
        }
    }
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        margin: 1rem 1.5rem;
        &--item-one {
            padding: 1rem;
        }
        &--item-two {
            padding: 2rem;
        }
        &--item-two {
            padding: 3rem;
        }
    }
}